<div class="container w-full h-full flex flex-column justify-content-center align-items-center">
  <p-card class="w-6" header="Continue Quiz">
    <div class="flex flex-column gap-2">
      <div class="w-full flex align-items-center gap-2">
        <label class="w-2 text-right pr-2">Name<span class="p-error">*</span> :</label>
        <input pInputText class="w-20rem" [(ngModel)]="userName"/>
        <p-button (onClick)="clickGo()" [styleClass]="'w-5rem'" type="button" label="Go"/>
      </div>
    </div>
  </p-card>
</div>

