<div class="container w-full h-full flex flex-column justify-content-center align-items-center mt-8">
  <p-card class="w-6" header="Quiz : {{groupName}}">
    <div class="flex flex-column gap-4 pl-2">
      <div *ngFor="let question of quizData?.questions; let i = index" class="question-box">
        <div class="question flex flex-row gap-2">
          <div>{{(i + 1 | number)}})</div>
          <div>{{ question.questionText }}</div>
        </div>
        <div class="ml-4 flex align-items-center" *ngFor="let choice of question.choices">
          <p-radioButton name="question{{question.questionId}}" inputId="{{choice.choiceId}}" [value]="choice.choiceId"
                         [(ngModel)]="question.selectedChoiceId"></p-radioButton>
          <label [for]="choice.choiceId" class="ml-2">{{ choice.choiceText }}</label>
        </div>
      </div>
    </div>
    <div class="flex justify-content-center gap-2">
      <p-button (onClick)="saveQuiz()"  type="button" label="Save"/>
      <p-button (onClick)="submitQuiz()" type="button" label="Submit"/>
    </div>
  </p-card>
</div>

